<h1>Abuela Sorda</h1>

<form action="/saludo" method="POST">
    <label for="frase">Di algo abuela:</label><br>
    <input type="text" name="frase" id="frase">
    <input type="submit" value="Dilo!">
</form>